<!DOCTYPE html>
<html>
<head>
    <title>Checkers</title>
    <%- include('head.ejs') %>
</head>
<body>
    <div class="container">
        <h1>Checkers</h1>
        <table>
            <tr>
                <td>Filename</td>
                <td>Description</td>
                <td>More</td>
            </tr>
    <% checkers.forEach(function (item) { %>
            <tr>
                <td><%= item.file %>.cpp</td>
                <td><%= item.description %></td>
                <td><a href="/checkers/view/<%= item.file %>">#</a></td>
            </tr>
    <% }); %>
    <% if (user && user.admin) { %>
        <a href="/checkers/add"><button type="button">Create</button></a>
    <% } %>
        </table>
        <a href="/"><button type="button">Main</button></a>
    </div>
</body>
</html>