<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OGS</title>
</head>
<body>
<% if (!user) { %>
    <a href="/signin">Sign in</a>
<% } else { %>
    Hello <%= user.user %>
    <a href="/signout">Sign out</a>
<% } %>
    <a href="/users">Users</a><br>
    <% problems.forEach(function (item) { %>
    <a href="/<%= item.num %>"><%= item.title %></a><br>
    <% }); %>
</body>
</html>