<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <%- include('head.ejs') %>
</head>
<body>
    <div class="container">
        <form method="POST" action="/register" accept-charset="utf-8">
    <% if (error) { %>
            <span style="color: red;"><%= error %></span><br>
    <% } %>
            Username <input name="user" value="<%= username %>"></input><br>
            Password <input type="password" name="password"></input><br>
            Retype Password <input type="password" name="passwordCheck"></input><br>
            Session expires after 7 days / We hash your password one-way<br>
            <button type="submit">Register</button>
            <a href="/signin"><button type="button">Sign in</button></a>
        </form>
    </div>
</body>
</html>