<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>
    <table>
        <tr>
            <td>#</td>
            <td>Username</td>
            <td>Date</td>
        </tr>
<% users.forEach(function (item) { %>
        <tr>
            <td><%= item.cnt %></td>
            <td><%= item.user %></td>
            <td><%= item.registerDate %></td>
        </tr>
<% }); %>
    </table>
    <a href="/">Main</a>
</body>
</html>